.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.App-header {
  /*background-color: #F07452;*/
  background-color: #EFEFEF;
  height: 100px;
  padding: 20px;
  color: #222;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-intro {
  max-width: 1000px;
  width: 100%;
  margin: 25px auto 20px auto;
  display: flex;
  justify-content: space-around;
  flex-basis: 0;
}

.list-items{
  flex: 1;
  margin-right: 10px;
}

.related-items{
  flex: 2;
  margin-left: 10px;
}

li {
  margin: 5px 0;
}

#title {
  font-size: 30px;
  margin-right: 10px;
}

#related{
  color: #F07452;
}

input[type='text']{
  font-size: 30px;
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #222;
  color: #F07452;
  width: 250px;
}

input[type='submit']{
  display: none;
}

input[type='submit']:hover{
  cursor: pointer;
}

.list-items li:hover {
  color: #F07452;
  cursor: pointer;
}

#root{
  height: 100%;
}

footer{
  margin: 0 auto 10px auto;
  text-align: center;
  color: #F07452;
}
